<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Google Drive</title>
    <link rel="stylesheet" href="/pico.classless.min.css" />
    <link rel="stylesheet" href="/styles.css" />
    <!-- Global -->
  </head>
  <body>
    <%- include('partials/header') %> <!-- Der Header wird hier modular eingebunden -->

    <div class="page-container">
      <!-- Main Content with Text and Image Side by Side -->
      <div class="content-wrapper">
        <div class="content-text">
          <img src="/drivelogo.svg" alt="Google Logo" class="drive-logo" />
          <h1>Cloud-Speicher leicht gemacht</h1>
          <p>
            Einfacher und skalierbarer Cloud-Speicher für Einzelpersonen und
            Teams aller Größen. Gespeicherte Dateien lassen sich auf jedem
            Gerät hochladen, öffnen, freigeben und bearbeiten.
          </p>
          <!-- Anmelde und Sign-up Buttons -->
          <div class="button-group">
            <a href="/login" role="button" class="button primary">Anmelden</a>
            <!-- Blauer Button -->
            <a href="/sign-up" role="button" class="button secondary">
              Konto erstellen
            </a>
            <!-- Weißer Button -->
          </div>
        </div>

        <!-- Image Section -->
        <div class="content-image">
          <img src="/bg.webp" alt="Background Image" class="bg-image" />
        </div>
      </div>
    </div>

  </body>
</html>
